<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415962414488-7hnl4kv4l673i6l0itnhaedr6erdfd8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415962414488-7hnl4kv4l673i6l0itnhaedr6erdfd8o</string>
	<key>API_KEY</key>
	<string>AIzaSyAlxT3IJyV6AvcZuNkVgVOwgt-dftKgW3g</string>
	<key>GCM_SENDER_ID</key>
	<string>415962414488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fooddataagg</string>
	<key>PROJECT_ID</key>
	<string>food-data-real</string>
	<key>STORAGE_BUCKET</key>
	<string>food-data-real.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415962414488:ios:3c6df1f56129027fd37fed</string>
	<key>DATABASE_URL</key>
	<string>https://food-data-real-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>